/* Header 스타일링 */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  /* 네비게이션 메뉴 스타일링 */
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-list li {
    margin: 0 15px;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-list a:hover {
    text-decoration: underline;
  }
  