
input {
	outline: none;
}
input:focus {
	border: 1px solid #3f96f7;
	box-shadow: 0 0 6px #e0eaf6;
}
.forgot-description {
	width: 240px;
	font-size: 15px;
	margin-bottom: 10px;
	font-weight: 700;
	line-height: 25px;
}
.send-email-button {
	background-color: #3f96f7;
	width: 247px;
	height: 33px;
	box-sizing: content-box;
	border: none;
	border-radius: 6px;
	margin-top: 10px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.send-email-button:hover {
	background-color: #2d75c6;
}

.invisible {
	display: none;
}
