.reset-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

.reset-content {
  width: 360px;
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.password-input {
  width: 280px; /* 이 부분을 수정 */
  padding: 10px;
  margin-bottom: 10px;
}

.form-floating {
  position: relative;
}

.form-floating input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.form-floating label {
  position: absolute;
  top: -14px;
  left: 10px;
  padding: 4px 8px;
  pointer-events: none;
  transition: 0.2s all;
  font-size: 12px;
  background-color: #f0f0f0;
}

.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  transform: translate(0, -100%) scale(0.75);
  background-color: #fff;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#okBtn {
  width: 300px;
  height: 33px;
  font-size: 13px;
  border: none;
  background-color: #e3ecf3;
  color: #477399;
  border-radius: 6px;
  margin: 3px;
}

#okBtn:hover {
  background-color: #b9d2e8;
  cursor: pointer;
}
#okBtn a {
  text-decoration: none;
  color: #477399;
}

#cancelBtn {
  width: 300px;
  height: 33px;
  font-size: 13px;
  border: none;
  background-color: #e3ecf3;
  color: #477399;
  border-radius: 6px;
}

#cancelBtn:hover {
  background-color: #b9d2e8;
  cursor: pointer;
}
#cancelBtn a {
  text-decoration: none;
  color: #477399;
}
