.LoginReset-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50rem;
}

.LoginPassword-input {
	width: 240px;
	box-sizing: content-box;
	height: 33px;
	border-radius: 6px;
	margin: 0px;
	margin-bottom: 18px;
	border: 1px black solid;
	padding-left: 5px;
}

.LoginReset-text {
	font-weight: bold;
	font-size: 15px;
	margin: 0px;
	margin-bottom: 7px;
}

.LoginResetButton {
	display: flex;
	justify-content: space-between;
}

.LoginResetButton #LoginResetokBtn {
	background-color: #3f96f7;
	width: 240px;
	height: 33px;
	box-sizing: content-box;
	border: none;
	border-radius: 6px;
	margin-top: 51px;
	font-size: 13px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.LoginResetButton #LoginResetokBtn:hover {
	background-color: #2d75c6;
}
